<div id="<%= dom_id work_time %>">
  <p>
    <strong>Pessoa:</strong>
    <%= work_time.person.name %>
  </p>

  <p>
    <strong>Iniciado em:</strong>
    <%= work_time.started_at %>
  </p>

  <p>
    <strong>Terminado em:</strong>
    <%= work_time.ended_at %>
  </p>

</div>
