<h1>Editing work time</h1>

<%= render "form", work_time: @work_time %>

<br>

<div>
  <%= link_to "Show this work time", @work_time %> |
  <%= link_to "Back to work times", work_times_path %>
</div>
